/*farbpalette 
#76B90B htw grün
#86966B htw grün dunkler
#F7FBEE milchweiß
#ddddf3 lila
#9999CC lila dunkel*/
html {
  font-family: "Trebuchet MS";
  font-size: 18px;
}
body {
  background-color: #f7fbee;
  color: black;
  padding: 40px;
  text-align: center;
}

/* input styling*/

input {
  width: 80%;
}

input[type="button"],
input[type="submit"],
input[type="reset"],
input[type="text"] {
  padding: 4px;
  margin: 2px;
  border: 3px solid #86966b;
  border-radius: 10px;
  background-color: #76b90b;
  color: black;
  cursor: pointer;
}

input:hover {
  background-color: #86966b;
}

/* input text styling */
input[type="text"] {
  padding: 4px;
  margin: 2px;
  border: 3px solid #9999cc;
  border-radius: 10px;
  background-color: #f7fbee;
  color: black;
  cursor: pointer;
}
input:hover[type="text"] {
  background-color: white;
}

/* select styling */
select {
  width: 30%;
  font-family: "Trebuchet MS";
  font-size: 14px;
  text-align: center;
  font-weight: 100;
  padding: 4px;
  margin: 2px;
  border: 3px solid #9999cc;
  border-radius: 10px;
  background-color: #ddddf3;
  cursor: pointer;
}

select:hover {
  background-color: #9999cc;
}

/* searchform styling*/

.form {
  display: grid;
  grid-template-columns: 100%;
  text-align: left;
  border-style: solid;
  border-width: 4px;
  border-radius: 10px;
  border-color: #86966b;
  margin: 10px;
}

.freieSucheLabel {
  width: 80%;
  padding: 4px;
  margin: 2px;
  border: 3px solid #9999cc;
  border-radius: 10px;
  background-color: #ddddf3;
}

.extraSucheLabel {
  width: 20%;
  font-family: "Trebuchet MS";
  font-size: 14px;
  text-align: center;
  font-weight: 100;
  padding: 4px;
  margin: 2px;
  border: 3px solid #9999cc;
  border-radius: 10px;
  background-color: #ddddf3;
}

.formMainRow {
  display: grid;
  grid-template-columns: 30% 30% 30% 10%;
}
.formRow {
  display: grid;
  grid-template-columns: 30% 30% 30% 10%;
}

.formEditButton {
  font-size: 18px;
}

#formSubmit {
  width: 25%;
  font-size: 18px;
}
/* banner styling*/
.banner {
  display: flex;
  align-items: left;
  justify-content: left;
  background-color: white;
}

.htwlogo {
  height: 100px;
  width: auto;
}

.projectName {
  padding: 8px;
  vertical-align: middle;
}

/* resultlist styling*/
.listElement {
  display: grid;
  background-color: white;
  grid-template-columns: repeat(1, 1fr);
  margin-bottom: 10px;
  border-style: solid;
  border-width: 4px;
  border-radius: 10px;
  border-color: #86966b;
}

.listElement:hover {
  background-color: #76b90b;
  cursor: pointer;
}

.listElement > div {
  display: flex;
  margin: 5px;
  padding: 10px;
  text-align: left;
}

.elementTitel {
  font-size: 20px;
  text-align: left;
}

.elementExtra {
  text-align: left;
}

.speechModal {
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  background-color: white;
  padding: 1rem;
  text-align: center;
  width: 30rem;
  z-index: 10;
  position: fixed;
  top: 20vh;
  left: calc(50% - 15rem);
}
.backdrop {
  overflow-y: initial !important;
  
  position: fixed;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.75);
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
}

/* pagination styling*/
.pagination {
  display: inline-block;
}

.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
}

pagination a.active {
  background-color: #4caf50;
  color: white;
}

.pagination a:hover:not(.active) {
  background-color: #ddd;
}

.pagination a.active {
  background-color: #4caf50;
  color: white;
}
.pagination a {
  border-radius: 5px;
}

.pagination a.active {
  border-radius: 5px;
}
.pagination a {
  transition: background-color 0.3s;
}
.pagination a {
  border: 1px solid #ddd; /* Gray */
}
